<section id="hero" class="d-flex align-items-center">
    <!-- <div class="container">
      <h1>Welcome to Medilab</h1>
      <h2>We are team of talented designers making websites with Bootstrap</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div> -->
  </section>

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row ">
          <div class="col-lg-4   col-12 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose Greencross?</h3>
              <p>
                Choose Greencross Laboratory for your diagnostic needs due to our longstanding reputation since 1980, extensive network covering Gujarat, Madhya Pradesh, and Rajasthan, prestigious NABL accreditation, commitment to innovative technology, highly qualified personnel, and round-the-clock services ensuring convenience and reliability.
              </p>
              <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8  col-12 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4  col-11 d-flex position-relative align-items-stretch banner-card">
                  <div class="icon-box mt-4 mt-xl-0">
                    <div class="icon-card"><i class="mb-0 fa-solid fa-user-doctor fs-1 pb-4"></i></div>
                    <h4>Doctor</h4>
                    <p>Doctors across the world have speaks volumes regarding our meaningful relationships.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4  col-11 d-flex position-relative align-items-stretch banner-card">
                  <div class="icon-box mt-4 mt-xl-0">
                    <div class="icon-card"><i class="mb-0 fa-solid fa-hospital-user fs-1 pb-4"></i></div>
                    <h4>Patients</h4>
                    <p>It is never just a sample at greencrosslab but it is always about YOU.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4  col-11 d-flex position-relative align-items-stretch banner-card">
                  <div class="icon-box mt-4 mt-xl-0">
                    <div class="icon-card"><i class="mb-0 fa-regular fa-handshake fs-1 pb-4"></i></div>
                    <h4>Partners</h4>
                    <p>Greencrosslab has become the preferred partner to many organisations across the globe.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section>
    <!-- End Why Us Section -->


 <!-- start meet us -->
<div class="container mt-5 meet_us">
  <div class="text-center my-3 section-title"><h2>Meet Us</h2></div>
  <div class="row justify-content-center" data-aos="zoom-in-down" data-aos-duration="2000">
    <div class="col-lg-3 col-md-6 col-12 img-d"> 
 <div class="card">
 <img src="https://img.freepik.com/free-photo/portrait-3d-male-doctor_23-2151107212.jpg?t=st=1707115047~exp=1707118647~hmac=775f43cf5c3cc7342fd9a72ac809fbc9dd4822ea0257de35adb8ec3012c0227f&w=740" height="100%" width="100%">
<div class="text text-center">
  <i class="mb-0 fa-solid fa-user-doctor fs-1 pb-4"></i>
  <h4><a href="team.html"><u>Doctors</u></a></h4>
</div>
</div>
</div>
    <div class="col-lg-3 col-md-6 col-12 img-d"> 
 <div class="card">
 <img src="https://img.freepik.com/free-photo/science-laboratory-equipment-test-tube-with-blood-healthcare-development-chemical-dripping-pipe-with-glass-flask-analysis-biochemistry-lab-clinic-professional-instruments_482257-27591.jpg?w=740&t=st=1706793806~exp=1706794406~hmac=31aaa712cf12d99e29ab2a621b49025c0e6d6eae8d6eae436e7e95930f7a53b9" height="100%" width="100%">
<div class="text text-center">
  <i class="fa-solid fa-flask-vial fs-1 pb-4"></i>
  <h4><a href="team.html"><u>Our Lab</u></a></h4>
</div>
</div>
</div>
    <div class="col-lg-3 col-md-6 col-12 img-d"> 
 <div class="card">
 <img src="https://img.freepik.com/free-photo/medical-report-with-medical-equipment_23-2148108932.jpg?w=740&t=st=1706794003~exp=1706794603~hmac=ad65db3830923055981a0f5df1b108ae11d6a557aa76001c22f5c9b453113309" height="100%" width="100%">
<div class="text text-center">
  <i class="fa-solid fa-file-lines fs-1 pb-4"></i>
  <h4><a ><u>Report</u></a></h4>
</div>
</div>
</div>
    <div class="col-lg-3 col-md-6 col-12 img-d"> 
 <div class="card">
 <img src="https://img.freepik.com/free-photo/location-symbol-with-building_23-2150169872.jpg?w=740&t=st=1706794160~exp=1706794760~hmac=262404cd5f2bea1be7650004c47ee1268471474551dc6101d4b13f0ca3e2acb0" height="100%" width="100%">
<div class="text text-center">
  <i class="fa-solid fa-location-crosshairs fs-1 pb-4"></i>
  <h4><a ><u>Location</u></a> </h4>
</div>
</div>
</div>
    
</div>
</div>
 <!-- End meet a href="contact.html"s -->

 <!-- Our Services Start -->
 <section id="Services" class="Services my-5">
  <div class="container" data-aos="zoom-in-down" data-aos-duration="2000">

    <div class="section-title">
      <h2>Our Services</h2>
      <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi odit deleniti, saepe dolor cumque nisi maxime a incidunt nobis eaque nihil alias placeat repellat, commodi aliquam! Qui nostrum eaque hic exercitationem. Placeat odio commodi eos eveniet? Illum maxime sapiente cum dolorem facere ex quia deserunt aperiam! Suscipit, culpa ratione! Quod.</p> -->
    </div>

    <div class="row gy-4">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link show active" data-bs-toggle="tab" href="#tab-1" aria-selected="false" role="tab" tabindex="-1"> <i class="fa-solid fa-angle-right right-arrow pe-2"></i>Health Check Up</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2" aria-selected="false" role="tab" tabindex="-1"> <i class="fa-solid fa-angle-right right-arrow pe-2"></i>Clinical Chemistry</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3" aria-selected="false" role="tab" tabindex="-1"> <i class="fa-solid fa-angle-right right-arrow pe-2"></i>Point-of-care</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4" aria-selected="false" role="tab" tabindex="-1"> <i class="fa-solid fa-angle-right right-arrow pe-2"></i>Coagulation</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-5" aria-selected="true" role="tab" tabindex="-1"> <i class="fa-solid fa-angle-right right-arrow pe-2"></i>Elisa</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-6" aria-selected="true" role="tab" tabindex="-1"> <i class="fa-solid fa-angle-right right-arrow pe-2"></i>Microbiology</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-7" aria-selected="true" role="tab" tabindex="-1"> <i class="fa-solid fa-angle-right right-arrow pe-2"></i>Immunohistochemistry</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-8" aria-selected="true" role="tab" tabindex="-1"> <i class="fa-solid fa-angle-right right-arrow pe-2"></i>Histopathology</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-9" aria-selected="true" role="tab" tabindex="-1"> <i class="fa-solid fa-angle-right right-arrow pe-2"></i>Hematology</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-10" aria-selected="true" role="tab" tabindex="-1"> <i class="fa-solid fa-angle-right right-arrow pe-2"></i>Cytology</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-11" aria-selected="true" role="tab" tabindex="-1"> <i class="fa-solid fa-angle-right right-arrow pe-2"></i>Immunology</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9 description mt-5">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3 class="title-stick pb-3">Health Check Up</h3>
                <p class="fst-italic">Whole Body Check (AWBC)</p>
                <p>This includes a Comprehensive check of all body systems including Cardiac status,and Biochemical profile (including Blood sugars,Lipid profile,Eye checkup,ENT and Dental checkup ,and Mammography for Women)It gives a detailed assessment of the individual and is strongly recommended for all individuals above 40 years.</p>
             <ul>
              <li class="py-1"><p><b>Haemogram</b> – Hemoglobin, PVC, RBC, MCHC, MCV, MCH, Total WBC/Differential Count, ESR, Platelet count.</p></li>
              <li class="py-1"><p><b>Biochemical Parameters</b>  – FBS,PPPBS,HbA1c, Blood Urea, S. Creatinine, S. Uric Acid</p></li>
              <li class="py-1"><p><b>Liver Function Test</b>  – Total Protein, Albumin, Globulin, A/G ratio, SGOT, SGPT, Alkaline Phosphatase, Bilirubin ( Total & Direct ), Gamma GT</p></li>
              <li class="py-1"><p><b>Lipid Profile</b>  – Total Cholesterol, HDL Cholesterol, LDL Cholesterol, Triglycerides, Total Cholesterol/ HDL Ratio.</p></li>
              <li class="py-1"><p><b>General Tests</b>  – Blood grouping and RH Typing, Urine Routine, Stool routine test, Resting ECG, X-ray-Chest, Ultrasonogram of the Abdomen (Screening only) and Pap smear (for Women)</p></li>
              <li class="py-1"><p>Cardiac Stress Analysis(TMT/CSA)</p></li>
              <li class="py-1"><p>Pulmonary Function test</p></li>
              <li class="py-1"><p>Echocardiography</p></li>
              <li class="py-1"><p>S. Calcium and Phosphorous</p></li>
              <li class="py-1"><p>S. Electrolytes</p></li>
              <li class="py-1"><p>HbsAg</p></li>
              <li class="py-1"><p>Mammogram for Women</p></li>
             
             </ul>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="https://img.freepik.com/free-photo/three-doctors-talking-with-one-them-wearing-white-coat-other-wearing-stethoscope_1340-36751.jpg?t=st=1707129836~exp=1707133436~hmac=a8f4d91f954b659b19d6dc8594ca6c120395a289f4756ff1e2c332a290132e2a&w=900" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Clinical Chemistry</h3>
                <p class="fst-italic">Clinical chemistry (also known as chemical pathology, clinical biochemistry or medical biochemistry) is the area of chemistry that is generally concerned with analysis of bodily fluids for diagnostic and therapeutic purposes. It is an applied form of biochemistry (not to be confused with medicinal chemistry, which involves basic research for drug development).</p>
                <p class="fst-italic">The discipline originated in the late 19th century with the use of simple chemical reaction tests for various components of blood and urine. In the many decades since, other techniques have been applied as science and technology have advanced, including the use and measurement of enzyme activities,</p>
                <p class="fst-italic">spectrophotometry, electrophoresis, and immunoassay. There are now many blood tests and clinical urine tests with extensive diagnostic capabilities.</p>
                <p class="fst-italic">Most current laboratories are now highly automated to accommodate the high workload typical of a hospital laboratory. Tests performed are closely monitored and quality controlled.
                  All biochemical tests come under chemical pathology. These are performed on any kind of body fluid, but mostly on serum or plasma. Serum is the yellow watery part of blood that is left after blood has been allowed to clot and all blood cells have been removed. This is most easily done by centrifugation, which packs the denser blood cells and platelets to the bottom of the centrifuge tube, leaving the liquid serum fraction resting above the packed cells. This initial step before analysis has recently been included in instruments that operate on the “integrated system” principle. Plasma is in essence the same as serum, but is obtained by centrifuging the blood without clotting. Plasma is obtained by centrifugation before clotting occurs. The type of test required dictates what type of sample is used.</p>
                <p class="fst-italic">A large medical laboratory will accept samples for up to about 700 different kinds of tests. Even the largest of laboratories rarely do all these tests themselves, and some must be referred to other labs.</p>
               <p  class="fst-italic">This large array of tests can be categorised into sub-specialities of:</p>
                <ul>

                  <li class="py-1"><p>General or routine chemistry – commonly ordered blood chemistries (e.g., liver and kidney function tests).</p></li>
                  <li class="py-1"><p>Special chemistry – elaborate techniques such as electrophoresis, and manual testing methods.</p></li>
                  <li class="py-1"><p>Clinical endocrinology – the study of hormones, and diagnosis of endocrine disorders.</p></li>
                  <li class="py-1"><p>Toxicology – the study of drugs of abuse and other chemicals</p></li>
                  <li class="py-1"><p>Therapeutic Drug Monitoring – measurement of therapeutic medication levels to optimize dosage.</p></li>
                  <li class="py-1"><p>Urinalysis – chemical analysis of urine for a wide array of diseases, along with other fluids such as CSF and effusions</p></li>      
                              <li class="py-1"><p> Fecal analysis – mostly for detection of gastrointestinal disorders.</p></li>
                 </ul>

                         </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Point-of-care</h3>
                <p class="fst-italic">Point-of-care testing (POCT), or bedside testing is defined as medical testing at or near the site of patient care.[1] These are simple medical blood tests which can be performed at the bedside. Simple tests such as those found in medical examinations, urine test strips and even simple imaging such as with a portable ultrasound device. As well as regular observations such as ECG’s, O2 saturation and heart rate. A recent survey in five countries (Australia, Belgium, the Netherlands, the UK and the US) indicates that general practitioners / family doctors would like to use more POCTs.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Coagulation</h3>
                <p class="fst-italic">Coagulation (also known as clotting) is the process by which blood changes from a liquid to a gel. It potentially results in hemostasis, the cessation of blood loss from a damaged vessel, followed by repair. The mechanism of coagulation involves activation, adhesion, and aggregation of platelets along with deposition and maturation of fibrin. Disorders of coagulation are disease states which can result in bleeding (hemorrhage or bruising) or obstructive clotting (thrombosis).Coagulation is highly conserved throughout biology; in all mammals, coagulation involves both a cellular (platelet) and a protein (coagulation factor) component.The system in humans has been the most extensively researched and is the best understood.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane " id="tab-5" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Elisa                </h3>
                <p class="fst-italic">ELISA Technologies, Inc. was founded in 1991 to develop enzyme immunoassay technology for use in the food industry. Our mission is to assure food quality by creating and supporting rapid, reliable, sensitive and cost-effective testing solutions. We are committed to using our expertise in species, allergens, antibiotics, drugs, hormones, toxins and other analytes to assist our clients with their analytic needs. Our commitment is to provide our clients with accurate, confidential, efficient, reliable and cost-effective analytical options to meet their needs..</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="tab-pane " id="tab-6" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Microbiology                </h3>
                <p class="fst-italic">Microbiology (from Greek μῑκρος, mīkros, “small”; βίος, bios, “life”; and -λογία, -logia) is the study of microscopic organisms, either unicellular (single cell), multicellular (cell colony), or acellular (lacking cells).Microbiology encompasses numerous sub-disciplines including virology, mycology, parasitology, and bacteriology.</p>
            <p><b>Did you know that?</b></p>
            <p>Scientists estimate that laughing 100 times is equivalent to a 10-minute workout on a rowing machine.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>


          <div class="tab-pane " id="tab-7" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Immunofluorescence</h3>
                <p class="fst-italic">Biochemistry, sometimes called biological chemistry, is the study of chemical processes within and relating to living organisms. By controlling information flow through biochemical signaling and the flow of chemical energy through metabolism, biochemical processes give rise to the complexity of life. Over the last 40 years, biochemistry has become so successful at explaining living processes that now almost all areas of the life sciences from botany to medicine are engaged in biochemical research.Today, the main focus of pure biochemistry is in understanding how biological molecules give rise to the processes that occur within living cells, which in turn relates greatly to the study and understanding of whole organisms.</p>
                <p class="fst-italic"><b>Did you know that?</b></p>
                <p class="fst-italic">Scientists estimate that laughing 100 times is equivalent to a 10-minute workout on a rowing machine.</p>
                <!-- <p class="fst-italic">Immunofluorescence is a technique used for light microscopy with a fluorescence microscope and is used primarily on microbiological samples. This technique uses the specificity of antibodies to their antigen to target fluorescent dyes to specific biomolecule targets within a cell, and therefore allows visualisation of the distribution of the target molecule through the sample. Immunofluorescence is a widely used example of immunostaining and is a specific example of immunohistochemistry that makes use of fluorophores to visualise the location of the antibodies.Immunofluorescence can be used on tissue sections, cultured cell lines, or individual cells, and may be used to analyse the distribution of proteins, glycans, and small biological and non-biological molecules.</p> -->
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane " id="tab-10" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Cytology</h3>
                <p class="fst-italic">The medical and scientific study of cells. Cytology refers to a branch of pathology, the medical specialty that deals with making diagnoses of diseases and conditions through the examination of tissue samples from the body.Cytologic examinations may be performed on body fluids (examples are blood, urine, and cerebrospinal fluid) or on material that is aspirated (drawn out via suction into a syringe) from the body. Cytology also can involve examinations of preparations that are scraped or washed (irrigated with a sterile solution) from specific areas of the body.</p>              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-11" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Immunology</h3>
                <p class="fst-italic">At Green Cross laboratory, we focus on bridging the transparency gap. We build a structure of ethical systems, as we understand that getting the right culture means reasserting a simple truth: every sample or test is a real person. We genetically code care, compassion and dignity in our work culture and take immense pride in being recognized for the accuracy and reliability of our results. We recognize how important the results are to you and to your loved ones and so we make it out utmost important duty to give you a correct and reliable final outcome of the tests.</p>
                <p class="fst-italic">We consider it our pleasure to serve people and take care of their needs, we constantly innovate to find new ways to keep improving our services.</p>
                <p class="fst-italic">Green Cross Laboratory is more about names than numbers and even more about the feelings related to the names we write on the test results.</p>
                <p class="fst-italic"><b>Did you know that?</b></p>
                <p class="fst-italic">Scientists estimate that laughing 100 times is equivalent to a 10-minute workout on a rowing machine.</p>
        
             
             
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

  </main>