 <!-- ======= About Section ======= -->
 <section id="about" class="about  pt-3">
    <div class="container-fluid mt-5">
        <div class="text-center mt-5 section-title"><h2>About</h2></div>
      <div class="row">
        <div class="col-lg-4 video-box d-flex justify-content-center align-items-stretch position-relative">
            <img src="https://img.freepik.com/free-vector/medical-design-poster-with-original-medicinal-capsule-consisting-red-white-parts-different-medical-objects_1284-53615.jpg?w=740&t=st=1707284876~exp=1707285476~hmac=41c306b4ca33aac5fbf942b0c75e5b77c7286b507ef3eed35370ddbedf8f66f5" class="glightbox mb-4 w-100">
        </div>

        <div class="col-lg-8 icon-boxes d-flex flex-column align-items-stretch justify-content-center pb-5 px-lg-5">
          <h3>Welcome To Greencrosslab</h3>
          <p>From it s humble beginning from a small 200 sq ft laboratory in paldi, greencross laboratory has now reached to almost 20000 sq ft area in all over Gujarat. Greencross has 17 branches in Gujarat and it is leading laboratory in Gujarat.</p>

          <div class="icon-box">
            <div class="icon"><i class="fa-regular fa-star"></i></div>
            <h4 class="title"><a href="">Accreditation and Quality Standards</a></h4>
            <p class="description">Greencross Laboratory, accredited by NABL since 2007, maintains rigorous quality standards, ensuring accurate and reliable diagnostic results. This accreditation signifies adherence to international practices, instilling confidence in patients and healthcare providers.</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-gear"></i></div>
            <h4 class="title"><a href="">Extensive Coverage and Accessibility</a></h4>
            <p class="description">Greencross Lab offers round-the-clock services across Gujarat, Madhya Pradesh, and Rajasthan, with full-working laboratories strategically located in key cities. This extensive coverage ensures accessibility and convenience for patients seeking medical testing.</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-microchip"></i></div>
            <h4 class="title"><a href=""> Leadership in Technology and Expertise</a></h4>
            <p class="description">Description: Greencross Lab leads in technology and expertise, boasting the largest number of pathologists and qualified personnel in Gujarat. Since 1980, it has been at the forefront of introducing new tests and technologies, emphasizing innovation and superior service in laboratory medicine.</p>
          </div>

        </div>
      </div>
      <div class="container">
        <div class="col-12">
            <h2 class="blue fw-7">Accrediation</h2>
            <p>The time honoured benchmark of quality is accreditation by standard regulatory bodies, overseeing all aspect of quality, management and documentation.Green Cross has successfully achieved accreditation by NABL in 2007. We are proud of our teams whose untiring efforts have helped us to achieve this objective. We now aim for CAP accreditation in future.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->