<div class="text-center mt-5 pt-5 section-title"><h2 class="mt-5">Position</h2></div>

<div class=" container">
  <p>Green Cross is an equal opportunity employer. Please look for your qualifications/experience in the various posts below. If you feel you can have a career with us, please enter and submit your resume in the blank field provided.</p>

  <div class="row mt-4">
      <div class="col-xl-4 col-lg-6 col-12 mb-4 d-flex align-items-stretch">
          <div class="rounded border w-100 apply-box">
              <div class="p-3">
                  <div class="row">
                      <div class="col-sm-8 flex-wrap">
                          <a class=" text-dark" href="/asp-net">Phlebotomist</a>
                          <p class="mt-1">Qualification: Matriculate</p>
                          <a href="/asp-net"></a></div>
                          <div class="col-sm-4">
                              <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn rounded-0 float-right p-2 bg-white m-2 cursor-pointer">
                                  <a class="text-dark apply-btn" href="careerApply.html">
                                      <i class="fa-solid fa-chevron-right pe-2"></i>Apply</a>
                                   </button>
                                   </div>
                               </div>
                              </div>
                              </div>
                              </div>
      <div class="col-xl-4 col-lg-6 col-12 mb-4 d-flex align-items-stretch">
          <div class="rounded border w-100 apply-box">
              <div class="p-3">
                  <div class="row">
                      <div class="col-sm-8 flex-wrap">
                          <a class=" text-dark" href="/asp-net">Lab Technician</a>
                          <p class="mt-1">Qualification: BSc MLT</p>
                          <a href="/asp-net"></a></div>
                          <div class="col-sm-4">
                              <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn rounded-0 float-right p-2 bg-white m-2 cursor-pointer">
                                  <a class="text-dark apply-btn" href="#">
                                      <i class="fa-solid fa-chevron-right pe-2"></i>Apply</a>
                                   </button>
                                   </div>
                               </div>
                              </div>
                              </div>
                              </div>
      <div class="col-xl-4 col-lg-6 col-12 mb-4 d-flex align-items-stretch">
          <div class="rounded border w-100 apply-box">
              <div class="p-3">
                  <div class="row">
                      <div class="col-sm-8 flex-wrap">
                          <a class=" text-dark" href="/asp-net">Tech. Manager</a>
                          <p class="mt-1">Qualification: BSc MLT</p>
                          <a href="/asp-net"></a></div>
                          <div class="col-sm-4">
                              <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn rounded-0 float-right p-2 bg-white m-2 cursor-pointer">
                                  <a class="text-dark apply-btn" href="#">
                                      <i class="fa-solid fa-chevron-right pe-2"></i>Apply</a>
                                   </button>
                                   </div>
                               </div>
                              </div>
                              </div>
                              </div>
      <div class="col-xl-4 col-lg-6 col-12 mb-4 d-flex align-items-stretch">
          <div class="rounded border w-100 apply-box">
              <div class="p-3">
                  <div class="row">
                      <div class="col-sm-8 flex-wrap">
                          <a class=" text-dark" href="/asp-net">Pathologist</a>
                          <p class="mt-1">Qualification: M.D. Path/DCP</p>
                          <a href="/asp-net"></a></div>
                          <div class="col-sm-4">
                              <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn rounded-0 float-right p-2 bg-white m-2 cursor-pointer">
                                  <a class="text-dark apply-btn" href="#">
                                      <i class="fa-solid fa-chevron-right pe-2"></i>Apply</a>
                                   </button>
                                   </div>
                               </div>
                              </div>
                              </div>
                              </div>
      <div class="col-xl-4 col-lg-6 col-12 mb-4 d-flex align-items-stretch">
          <div class="rounded border w-100 apply-box">
              <div class="p-3">
                  <div class="row">
                      <div class="col-sm-8 flex-wrap">
                          <a class=" text-dark" href="/asp-net">Reception/PRO</a>
                          <p class="mt-1">Qualification: Graduate</p>
                          <a href="/asp-net"></a></div>
                          <div class="col-sm-4">
                              <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn rounded-0 float-right p-2 bg-white m-2 cursor-pointer">
                                  <a class="text-dark apply-btn" href="#">
                                      <i class="fa-solid fa-chevron-right pe-2"></i>Apply</a>
                                   </button>
                                   </div>
                               </div>
                              </div>
                              </div>
                              </div>
      <div class="col-xl-4 col-lg-6 col-12 mb-4 d-flex align-items-stretch">
          <div class="rounded border w-100 apply-box">
              <div class="p-3">
                  <div class="row">
                      <div class="col-sm-8 flex-wrap">
                          <a class=" text-dark" href="/asp-net">Accounts</a>
                          <p class="mt-1">Qualification: B.Com</p>
                          <a href="/asp-net"></a></div>
                          <div class="col-sm-4">
                              <button type="button" data-toggle="collapse" data-target="#collapseOne" class="btn rounded-0 float-right p-2 bg-white m-2 cursor-pointer">
                                  <a class="text-dark apply-btn" href="#">
                                      <i class="fa-solid fa-chevron-right pe-2"></i>Apply</a>
                                   </button>
                                   </div>
                               </div>
                              </div>
                              </div>
                              </div>
                              </div>
</div>