<section id="faq" class="faq section-bg mt-5 pt-5">
    <div class="container mt-5 pt-2">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero alias neque autem, minima, ut cupiditate dolores iure nemo eaque earum illo veritatis, debitis ad unde doloribus. Nulla, odio! Dolor magnam natus repudiandae consectetur eos nemo!</p>
      </div>

      <div class="faq-list py-3">
        <ul>
          <li data-aos="fade-up">
            <i class="fa-solid fa-circle-question icon-help"></i><a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Can I request my own laboratory tests? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Individuals can order tests themselves, but if you are interested in having a specific laboratory test performed, please ask your healthcare provider if the test is appropriate for you, and if he/she can order the test(s) for you.                  </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="fa-solid fa-circle-question icon-help"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed"> What types of tests does Green Cross labs perform? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                We are the leading provider of diagnostic testing, information, and services. Our clinical laboratory testing services include: blood tests, body fluid testing, tissue pathology and cytology, health screening and monitoring tests, drug screening Visit our Diagnostics Tests to see a list of frequently ordered lab tests.                  </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="fa-solid fa-circle-question icon-help"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">My doctor has ordered a lab test for me, and does not collect samples in his/her hospital. How do I locate a Diagnostics center location near me? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Find a convenient location with our Patient Service Center Locator. The address, hours, phone number, directions (map) and services provided are listed for each location. </p>
               </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="fa-solid fa-circle-question icon-help"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">My doctor has ordered a lab test for me, and does not collect samples in his/her office. How do I locate a Quest Diagnostics location near me? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Find a convenient location with our Patient Service Center Locator. The address, hours, phone number, directions (map) and services provided are listed for each location.
              </p>
               </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="fa-solid fa-circle-question icon-help"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Do I need to make an appointment in order to be tested at a Diagnostics location? <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Appointments are not required. However, we are pleased to offer online appointment scheduling for individuals who like the ease of scheduling at a location, date and time that is convenient for them. You can see which locations offer appointments by accessing our online form or calling at a center near you.                 
               </p>
               </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="fa-solid fa-circle-question icon-help"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Do I need to fast before being tested ?<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Some blood tests do require fasting prior to having your blood drawn. Please contact your healthcare provider or laboratory to determine his/her requirements for your specific testing. Certain tests like FBS or Lipids require at least 10 to 12 hour fasting with normal diet previous night.                   
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="fa-solid fa-circle-question icon-help"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">How long does it take to receive test results?<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
              <p>
                Depending on the test performed, most tests are completed and reported within about 12 hours of receiving the sample for testing. Certain tests take several days to weeks. Certain tests, such as blood counts, mono tests and urinalysis, can be ready in an hour or less, if the provider orders them on an urgent basis. Bacterial cultures take 24 hours to three days. Viral cultures can take three to 14 days. Pap smears and tissue biopsies take around 5 to 7 days..              
              </p>
            </div>
              </li>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="fa-solid fa-circle-question icon-help"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">Will my blood test hurt?<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
              <p>
                Having blood drawn is a minimally invasive procedure taking less than a minute. Any pain is brief and, for most people, slight.
              </p>
            </div>
              </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="fa-solid fa-circle-question icon-help"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed">How much blood do you take?<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
              <p>
                The amount depends on the tests your provider orders. The amount usually ranges from five to 20 milliliters (a few teaspoons to a few tablespoons). In comparison, about 450 milliliters is taken when you donate blood.
               </p>
            </div>
              </li>

        </ul>
      </div>

    </div>
  </section>