 <!-- ======= Counts Section ======= -->
 <section id="counts" class="counts mt-5">
    <div class="container">
      <div class="section-title">
        <h2>Our team strength</h2>
      </div>
      <div class="row mt-3">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="fas fa-user-md"></i>
            <span>Doctors(MD)</span>
            <p class="mt-2">35+</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="fa-solid fa-microchip"></i>
        
            <span>Technicians </span>
            <p class="mt-2">200+</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-flask"></i>
         
            <span>Para medical staff</span>
            <p class="mt-2">50+</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-award"></i>
            <span>Supporting staff </span>
            <p class="mt-2">30+</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End Counts Section -->

   <!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors">
  <div class="container">

    <div class="section-title">
      <h2>Pillars Of Green Cross</h2>
      <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit officiis voluptas ea, fuga nostrum alias ad minima harum nemo ipsa, a accusantium in illum aliquid. Cumque quam laudantium facere ratione molestias excepturi. Maxime consequuntur eligendi a, sint repudiandae ducimus illum quae illo error, neque provident ullam voluptatum doloribus, fugit laudantium?</p> -->
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Mr.Vinod Patel</h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Amarjeet Kaur</h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Narendra Patel            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Dilip Shah</h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Dhiren Shah</h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Viral Patel</h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Umang Patel</h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Harpreet            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr.Geera Shah
            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Dhiren Kapupara
            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr.Amit Maniar
            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr.Shailesh
            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Dinesh Rathod
            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr.Chintan Shah
            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr.Mansukh Gabani

            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div> <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Mahendra Gajjar
            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div> <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr.Safal Patel
            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div> <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr. Sarjan Shah
            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr.Chintan Shah
            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div> <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic"><img src="https://img.freepik.com/free-photo/medium-shot-female-nurse-hospital_23-2150796662.jpg?t=st=1707137851~exp=1707141451~hmac=ab922b5dc0dd24df9a58254fa5c1d3e76496cc16112610bafc689a13e602aef9&w=740" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Dr.Chintan Shah
            </h4>
            <span>Chief Medical Officer</span>
            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
            <div class="social">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>

     
    </div>

    <div class="section-title mt-4">
        <h2>OTHER DOCTORS        </h2>
      </div>
      <div class="row pb-4">
        <div class="col-md-4 col-sm-6"><p><i class="fas fa-user-md pe-2 bg_blue"></i> Dr. Sunil kanvinde	</p></div>
        <div class="col-md-4 col-sm-6"><p><i class="fas fa-user-md pe-2 bg_blue"></i> Dr. Sejal Parekh	</p></div>
        <div class="col-md-4 col-sm-6"><p><i class="fas fa-user-md pe-2 bg_blue"></i> Dr. Chandresh Chauhan	</p></div>
        <div class="col-md-4 col-sm-6"><p><i class="fas fa-user-md pe-2 bg_blue"></i> Dr. Nehal Pithwa </p></div>
        <div class="col-md-4 col-sm-6"><p><i class="fas fa-user-md pe-2 bg_blue"></i> Dr. Reena	</p></div>
        <div class="col-md-4 col-sm-6"><p><i class="fas fa-user-md pe-2 bg_blue"></i> Dr. Gopal	</p></div>
        <div class="col-md-4 col-sm-6"><p><i class="fas fa-user-md pe-2 bg_blue"></i> Dr. Kinjal </p></div>
        
        </div>

  </div>
</section>
<!-- End Doctors Section -->