<section id="contact" class="contact mt-5 pt-5">
    <div class="container mt-5">

      <div class="section-title">
        <h2>Contact</h2>
      </div>
    </div>
<div class="row">
    <div class="col-md-6 col-12">
     <div class="m-3">
<iframe class="w-100" style="height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7342.834481395151!2d72.561732!3d23.04516!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848eb3605485%3A0xe5635c7470ca6c15!2sGREEN%20CROSS%20LABORATORY%20-%20STADIUM%20BRANCH!5e0!3m2!1sen!2sus!4v1709118256333!5m2!1sen!2sus"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
    </div>
    <div class="col-md-6 col-12">
     <div class="m-3">
      <iframe class="w-100" style="height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7344.515313190897!2d72.530257!3d23.01431!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84d7a68d3523%3A0xdc5e6e5e54dd53dd!2sGREEN%20CROSS%20LABORATORY-%20SATELLITE%20BRANCH%20(SHYAMAL)!5e0!3m2!1sen!2sus!4v1709118407844!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
    </div>
    <div class="col-md-6 col-12">
     <div class="m-3"> 
      <iframe class="w-100" style="height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7343.612505325052!2d72.51147500000002!3d23.030885!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e9b36ccf566ed%3A0xf3a517e12be47da2!2sGC%20Collection%20centre-Ramdevnagar!5e0!3m2!1sen!2sus!4v1709118483202!5m2!1sen!2sus"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
    </div>
    <div class="col-md-6 col-12">
     <div class="m-3">
      <iframe class="w-100" style="height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7339.820941612717!2d72.589736!3d23.100373000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e83bbbfffffff%3A0xe9865c01ef44ee09!2sGreen%20Cross%20Genetics%20Lab.%20Pvt.%20Ltd.(Visat%20Branch)!5e0!3m2!1sen!2sus!4v1709118522251!5m2!1sen!2sus"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
    </div>

    </div>

    <div class="container">
      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
                <i class="fa-solid fa-location-dot"></i>
              <h4>Location:</h4>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>

            <div class="email">
                <i class="fa-solid fa-envelope"></i>
              <h4>Email:</h4>
              <p>hr@greencrosslab.com</p>
            </div>

            <div class="phone">
                <i class="fa-solid fa-phone"></i>
              <h4>Call:</h4>
              <p>+(91)-79-26578824</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0 my-5">

          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="email" id="email" placeholder="Your Phone Number" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="text" class="form-control" name="email" id="email" placeholder="Your Area" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Submit</button></div>
          </form>

        </div>

      </div>

    </div>
  </section>