  <!-- ======= Header ======= -->  
  
  
  <header id="header" class="fixed-top">
    
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    <nav class="navbar navbar-expand-xl navbar-light bg-white">
      <div class="container-fluid">
        <h1 class="logo me-auto navbar-brand"><a ><img src="./assets/header/logo.png" class="w-100"></a></h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  mb-2 mb-lg-0 navbar ms-auto d-flex justify-content-flex-start align-items-baseline">
          <li class="nav-item mx-2"><a class="nav-link scrollto active" href="#">Home</a></li>
          <li class="dropdown nav-item mx-2"><a href="#" class="scrollto nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span>About US</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a class="text-decoration-none" routerLink="/aboutus">About US</a></li>
             
              <li><a class="text-decoration-none" routerLink="/missionvision">Mission&Vision</a></li>
                  <li><a class="text-decoration-none" routerLink="/for-patients-consumers">For Patients & Consumers</a></li>
                  <li><a class="text-decoration-none" routerLink="/affiliated-insurance-companies">Affiliated Companies</a></li> 
                  <!-- <li><a class="text-decoration-none" href="#">About US</a></li> -->
            </ul>
            </li>
            <li class="nav-item mx-2"><a class="nav-link scrollto "  routerLink="/our-team"> Our Team</a>
          </li>
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Our Centers
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Our Diagnostic Centres</a></li>
                <li><a class="dropdown-item" href="#">Our Collection Centres</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Test
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Testing options</a></li>
                <li><a class="dropdown-item" href="#">Quality Assurance</a></li>
                <li><a class="dropdown-item" href="#">LAB@HOME</a></li>
                <li><a class="dropdown-item" href="#">Download Test List</a></li>
                <li><a class="dropdown-item" href="#">FAQs</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown mx-2"><a class="nav-link scrollto" href="#contact">Career</a></li>
            <li class="nav-item mx-2"><a class="nav-link scrollto" href="contact.html">Contact Us</a></li>
          </ul>
          <button href="#appointment" class="appointment-btn scrollto fw-7 ms-0"><span class=" d-md-inline fw-7">Appointment</span></button>
        </div>
      </div>
    </nav>
  
      <!-- .navbar -->

  </header>
  <!-- End Header -->
