<section class="section-bg">
    <div class="container">
        <div class="text-center mt-5 pt-5 section-title"><h2 class="mt-5">Collection Centres</h2></div>
        <div class="row">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button accordion-border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Center-1 (Lal Darwaja )
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/kCgvvmqx3HLqU16D8" target="_blank"><strong>Premi chambers, 2nd Floor, Nr. Advance Cinema, Lal Darwaja, Bhadra, -1.
                        </strong></a>
                      <p class="mt-2"><span class="me-2">Land line : </span><a href="tel:(079)-25507013" class="color-black">(079)-25507013</a></p>
                      </div>
                  </div>
                </div>
                
                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Center-2 (Civil Road, )
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/Ls18y7w5ZVfpWWiz7" target="_blank"><strong>4, Agrasen Tower, B.J.Medical Collage, Opp. Gate No.2, Civil Road, -16.
                        </strong></a>
                      <p class="mt-2"><span class="me-2">Land line : </span><a href="tel:(079)-22861432" class="color-black">(079)-22861432</a>,<a class="color-black" href="tel:(079)-22862318">(079)-22862318</a> </p>
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Center-3 (Chandkheda, )
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/Pchqka7yKUpvXCnQA" target="_blank"><strong>1st Floor, Ratnakalash Complex, Nr. Chandkheda Bus Stop, Chandkheda, .
                        </strong></a>
                      <p class="my-2"><span class="me-2">Land line : </span>
                        <a class="color-black" href="tel:(079)-23284116">(079)-23284116</a>,
                       </p>
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingfour">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        Center-4 (Bopal, )
                    </button>
                  </h2>
                  <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/VWVWf7ZoVrANy5Qt7" target="_blank"><strong>1st Floor, Aarohi Arced , Nr. Government Tubewell, Bopal, .
                        </strong></a>
                      <p class="mt-2"><span class="me-2">Mobile : </span><a href="tel:9998934533" class="color-black">9998934533</a></p>
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingfive">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                        Center-5 (C.J. Hospital, Surendranagar)
                    </button>
                  </h2>
                  <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/nGiB3QkQoudZfQT57" target="_blank"><strong>21, Krishna Tower, Haveli Road, Opp. C.J. Hospital, Surendranagar.
                        </strong></a>
                      <p class="mb-0" ><span class="me-2">Land line : </span><a href="tel:(02752)-230384" class="color-black">(02752)-230384</a></p>
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="heading">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
                        Center-6 (Zala Road, Dhangadhra)
                    </button>
                  </h2>
                  <div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/tHGv9fsjLrwP1EaB9" target="_blank"><strong>43, Radhekrishna Complex, Rajkamal Chowk, Zala Road, Dhangadhra.
                        </strong></a>
                      <p class="mb-0" ><span class="me-2">Land line : </span><a href="tel:(02752)- 260888" class="color-black">(02752)- 260888</a></p>
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingsix">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                        Center-7 (Akhbarnagar, )
                    </button>
                  </h2>
                  <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/CYJC3cEF5kfmydkM7" target="_blank"><strong>1st Floor, Suryarani Complex, Block-A, above Jay Ambe bhajipauv, Akhbarnagar Circle, Nava Vadaj, .
                        </strong></a>
                      <p class="mb-0" ><span class="me-2">Mobile : </span><a href="tel:9824048882" class="color-black">9824048882</a></p>
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingeven">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeven" aria-expanded="false" aria-controls="collapseeven">
                        Center-8 (Vejalpur)
                    </button>
                  </h2>
                  <div id="collapseeven" class="accordion-collapse collapse" aria-labelledby="headingeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/vvj6WVC5BqjRw23RA" target="_blank"><strong>F/11, Shanti Complex, Opp. Vejalpur Bus Stop, Vejalpur.
                        </strong></a>
                        <p class="mb-0" ><span class="me-2">Land line : </span><a href="tel:(079)- 26820287" class="color-black">(079)- 26820287</a></p>
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingeight">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                        Center-9 (Gandhinagar)
                    </button>
                  </h2>
                  <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/WzQ6EByHZU8Npb6Y7" target="_blank"><strong>Hi-Tech Hospital, Plot No. 1180, Sector -3 D, Gandhinagar.
                        </strong></a>
                      <p class="mb-0" ><span class="me-2">Land line : </span><a href="tel:(079)-23240556" class="color-black">(079)-23240556</a>,<a href="tel:(079)-23240555" class="color-black">(079)-23240555</a></p>                       
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingnine">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                        Center-10 (Kudsan, Gandhinagar)
                    </button>
                  </h2>
                  <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/Ky8PC7x4pXPbuxoj8" target="_blank"><strong>Swagat-II, A/12, Swagat Rainforest – 2, Opp. Swaminarayan Dham, Kudsan, Gandhinagar.
                        </strong></a>
                      <p class="mb-0" ><span class="me-2">Land line : </span><a href="tel:23600898" class="color-black">23600898</a></p>                       

                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingten">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
                        Center-11 (Chandlodiya, )
                    </button>
                  </h2>
                  <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/dZSisREifQ5kxDVB7" target="_blank"><strong>FF-3 Satva Elegance,near Silver Star complex, .
                        </strong></a>
                        <p class="mb-0" ><span class="me-2">Mobile : </span><a href="tel:9601193037" class="color-black">9601193037</a></p>                       
                                             
                      </div>
                  </div>
                </div>
                
                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingelevan">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseelevan" aria-expanded="false" aria-controls="collapseelevan">
                        Center-12 (Ranip, )
                    </button>
                  </h2>
                  <div id="collapseelevan" class="accordion-collapse collapse" aria-labelledby="headingelevan" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/iaM4aHsddCUCAuUT9" target="_blank"><strong>1st Floor, Om Complex, Sadashiv Nagar Complex, Sadashivnagar Co-op Hou. Soc, Sardar Chowk,.
                        </strong></a>
                        <p class="mt-0"><span class="me-2">Mobile : </span><a href="tel:9924004042" class="color-black">9924004042</a></p>
                       
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingTwelve">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        Center-13 (Sola, )
                    </button>
                  </h2>
                  <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://www.google.co.in/maps/search/GF-29,+Sukan+Mall,+Opp.+CIMS+Hospital,+Science+city+Rd,+/@23.0708041,72.514851,17z/data=!3m1!4b1"><strong>GF-29, Sukan Mall, Opp. CIMS Hospital, Science city Rd, .
                        </strong></a>
                      <p class="mt-0"><span class="me-2">Mobile : </span><a href="tel:9723812686" class="color-black">9723812686</a></p>
                      </div>
                  </div>
                </div>
                
                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingthirteen">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethirteen" aria-expanded="false" aria-controls="collapsethirteen">
                        Center-14 (DCabin,)
                    </button>
                  </h2>
                  <div id="collapsethirteen" class="accordion-collapse collapse" aria-labelledby="headingthirteen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://www.google.co.in/maps/search/Ground+Floor+Kashinath+Complex,DCabin+Bus+stop,/@23.0580494,72.5715201,13z/data=!3m1!4b1" target="_blank"><strong>Ground Floor Kashinath Complex,DCabin Bus stop,.
                        </strong></a>
                        <p class="my-2"><span class="me-2">Land line : </span><a href="tel:27505635" class="color-black">27505635</a>,
                            <p><span class="me-2">Mobile : </span><a href="tel:8487831552" class="color-black">8487831552 </a>
                            
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingfourteen">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefourteen" aria-expanded="false" aria-controls="collapsefourteen">
                        Center-15 (Naroda,)
                    </button>
                  </h2>
                  <div id="collapsefourteen" class="accordion-collapse collapse" aria-labelledby="headingfourteen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://www.google.co.in/maps/search/Near+Ramdev+Pir+mandir,+Naroda+patiya+road,/@23.0580417,72.57152,13z/data=!3m1!4b1" target="_blank"><strong>Near Ramdev Pir mandir, Naroda patiya road,.
                        </strong></a>
                      <!-- <p class="my-2"><a href="tel:(02718) 282313" class="color-black">(02718) 282313 </a>, -->
                      <p><span class="me-2">Mobile : </span><a href="tel:9016156600" class="color-black">9016156600 </a>
                      </p>
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingfifteen">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefifteen" aria-expanded="false" aria-controls="collapsefifteen">
                        Center-16 (Nikol,)
                    </button>
                  </h2>
                  <div id="collapsefifteen" class="accordion-collapse collapse" aria-labelledby="headingfifteen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://www.google.co.in/maps/search/1st+floor+Platinum+plaza,+Opp.+Rajhansh+Cinema,+/@23.058034,72.57152,13z/data=!3m1!4b1" target="_blank"><strong>1st floor Platinum plaza, Opp. Rajhansh Cinema, .
                        </strong></a>
                      <!-- <p class="my-2"><a href="tel:(0281) 2480809" class="color-black">(0281) 2480809 </a>, -->
                        <p><span class="me-2">Mobile : </span><a href="tel:9712758800" class="color-black">9712758800 </a>
                        </p>
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                  <h2 class="accordion-header" id="headingsisxteen">
                    <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesisxteen" aria-expanded="false" aria-controls="collapsesisxteen">
                        Center-17 (Sargasan)
                    </button>
                  </h2>
                  <div id="collapsesisxteen" class="accordion-collapse collapse" aria-labelledby="headingsisxteen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <a href="https://maps.app.goo.gl/nRxtbtur7a6fekcMA"><strong>Shop no. 5, Sarthak Mall, Sargasan.
                        </strong></a>
                      <!-- <p class="my-2"><a href="tel:(0281) 2480809" class="color-black">(0281) 2480809 </a>, -->
                        <p><span class="me-2">Mobile : </span><a href="tel:7046015025" class="color-black">7046015025 </a>,<a href="tel:9825583898" class="color-black">9825583898 </a>
                        </p>
                      </div>
                  </div>
                </div>

                <div class="accordion-item my-3">
                    <h2 class="accordion-header" id="headingeighteen">
                      <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeighteen" aria-expanded="false" aria-controls="collapseeighteen">
                        Center-18 (Bapunagar)
                      </button>
                    </h2>
                    <div id="collapseeighteen" class="accordion-collapse collapse" aria-labelledby="headingeighteen" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <a href="https://maps.app.goo.gl/UWszRP6wFcdwA8EF9" target="_blank"><strong>First floor C-1/16, LLa Society,Near Locker room Shop,Indian Colony road, Bapunagar
                          </strong></a>
                        <!-- <p class="my-2"><a href="tel:(0281) 2480809" class="color-black">(0281) 2480809 </a>, -->
                          <p><span class="me-2">Mobile : </span><a href="tel:9081308111" class="color-black">9081308111 </a>
                          </p>
                        </div>
                    </div>
                  </div>

                  <div class="accordion-item my-3">
                    <h2 class="accordion-header" id="headingnineteen">
                      <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenineteen" aria-expanded="false" aria-controls="collapsenineteen">
                        Center-19 (Motera)
                      </button>
                    </h2>
                    <div id="collapsenineteen" class="accordion-collapse collapse" aria-labelledby="headingnineteen" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <a href="https://maps.app.goo.gl/p4bgbVW6YdW7xUfy9" target="_blank"><strong>First Floor-1, Kena Complex, Motera.
                          </strong></a>
                        <!-- <p class="my-2"><a href="tel:(0281) 2480809" class="color-black">(0281) 2480809 </a>, -->
                          <p><span class="me-2">Mobile : </span><a href="tel:6354606216" class="color-black">6354606216 </a>
                          </p>
                        </div>
                    </div>
                  </div>

                  <div class="accordion-item my-3">
                    <h2 class="accordion-header" id="headingtwenty">
                      <button class="accordion-button accordion-border collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwenty" aria-expanded="false" aria-controls="collapsetwenty">
                        Center-20 (Bhavnagar)
                      </button>
                    </h2>
                    <div id="collapsetwenty" class="accordion-collapse collapse" aria-labelledby="headingtwenty" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <a href="https://maps.app.goo.gl/p4bgbVW6YdW7xUfy9" target="_blank"><strong>106-107 cartlon square, Madhavdeep, Kalanala, Bhavnagar- 3004631
                          </strong></a>
                        <p class="my-2"><a href="tel:(0281) 2480809" class="color-black">(0281) 2480809 </a>,
                          <p><span class="me-2">Mobile : </span><a href="tel:6354606216" class="color-black">6354606216 </a>
                          </p>
                        </div>
                    </div>
                  </div>
                
              </div>
        </div>
    </div>
  </section>