<section id="faq" class="faq section-bg mt-5 pt-5">
    <div class="container mt-5 pt-2">

      <div class="section-title">
        <h2>Testing Option</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero alias neque autem, minima, ut cupiditate dolores iure nemo eaque earum illo veritatis, debitis ad unde doloribus. Nulla, odio! Dolor magnam natus repudiandae consectetur eos nemo!</p>
      </div>

      <div class="faq-list py-3">
        <ul>
          <li data-aos="fade-up">
          
            <i class="fa-solid fa-hand-point-right text-secondary icon-help"></i><a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Many convenient choices for you to get your tests done.<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                To improve your access to our services, we are providing you with multiple options for sample collection. You have a choice to walk in to our main lab at Paldi, or come to any of the collection centres nearest to your home or ask for home collection services. Whichever choice you wish to exercise, you can be rest assured of the high standards and excellence we have built into our process.        </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="fa-solid fa-hand-point-right text-secondary icon-help"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Walk in to our main lab<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Our main lab facility at Paldi provides a friendly and congenial atmosphere for walk in customers.Our front office staff are caring, responsible and committed to fast turnaround of service.Our IT investments support our desire to deliver fast, efficient and reliable service.    </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="fa-solid fa-hand-point-right text-secondary icon-help"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Go to a collection center nearest to your home <i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                To canter to the needs of customers in outlying neighbourhoods who have to travel long distance to reach our main lab,we have opened collection centres in many convenient locations. You can go to these collection centres for giving your samples with the same assurance of coming to the main lab.</p>
               </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="fa-solid fa-hand-point-right text-secondary icon-help"></i><a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">LAB@HOME<i class="fa-solid fa-angle-down icon-show"></i><i class="fa-solid fa-angle-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Undergoing a blood test can be a nervous and stressful experience for many. we help you by providing you service right at the comfort of your home. Our Home initiative is the ideal home laboratory solution for senior citizens, people with disabilities, people who prefer the privacy of their home and even people who are simply busy at work. Highly trained team of phlebotomists are experts in single prick blood collection. We understand your needs and hence we collect samples anytime of the day. You may either book your appointment online by filling a simple online form or just call our regional office.                  </p>
               </div>
          </li>
        
        </ul>
      </div>

    </div>
  </section>